footer.footer
    div.footer-left
        img.logo-footer(src='img/logo-footer.png', alt='Logo Footer')

    div.footer-right
        div.footer-links
            a(href='#') Privacy Policy
            a(href='#') Terms of Use
            a(href='#') Contact Us

        p.footer-copyright
            | Copyright © 2023 rUWDEL. All rights reserved.