footer.footer
    div.footer-left
        img.logo-footer(src='img/logo-footer.png', alt='Logo Footer')

    div.footer-right
        div.footer-links
            a(href='/about') Privacy Policy
            a(href='/about') Terms of Use
            a(href='/about') Contact Us
        p.footer-copyright
            | Copyright © 2023 rUWDEL. All rights reserved.