extends base

block content
    .container
        h2.page-title About rUWDEL 

        .about-section
            h3 What's rUWDEL?
            p rUWDEL(russo-Ukrainian War Documented Equipment Losses) is API focused web resourse to see and analyze all the documented losses happened since February 22, 2022 in Ukraine and russia. 
            p 
                | Data is scraped and sorted with help of 
                a(href='https://github.com/scarnecchia', target='_blank') Daniel Scarnecchia's scraper tool
                |  and 
                a(href='https://github.com/leedrake5', target='_blank') Lee Drake's repo.
            p All the equipment in the list is documented and verified, but it doesn't mean that it represents all the losses. According to experts' analysis it represents from 40 to 70% of all losses and forms absolute minimum baseline for estimates. 
            p 
                | If you're interested in analitycs or more acurate information about regions, dates, timeline - please visit 
                a(href='https://ukr.warspotting.net/') Warspotting 
                | and 
                a(href='https://www.oryxspioenkop.com/') ORYX 
                p Our resourse is just scraped data from Oryx and sorted for slightly easier navigation for API. 

            h3  What's important to know? 
            p rUWDEL does not guarantee 100% acurate information.
            p All the dates are representing the date photo was verified and published on Oryx, not the date of actual loss.
            p Some of the losses could be showed twice or a few times with different statuses. Especially in requests by date.  


        .about-section
            h3 About API
            p rUwdel provides basic API access. All the data is open source and can be reused if needed. Please check out our API Documentation page.

        .privacy-section#privacy-section
            h3 Privacy Policy
            p rUWDEL authentication and login/signup functionalities rely on cookies. We don't use cookies for any other purpose. We also don't collect, store or distribute any of your personal information.

        .terms-section#terms-section
            h3 Terms of Use
            p Please respect all local laws when obtaining and distributing media.
            p Please do not use this website for any malicious purposes, which include, but are not limited to: collecting personal data, bullying, harassment, hate speech, fraud, producing fakes, supporting terrorism etc.
            p rUWDEL reserves the right to limit your access to this website in case of any violation of these terms.

        .contact-section#contact-section
            h3 Contact Us
            p For inquiries or assistance, please contact us at:
            p.contact-info.ruwdel genkawalle@gmail.com
            
        