extends base

block content
    .login-box
        h2.page-title Log into your account

        form.form_login(action='/login', method='POST')
            label(for='email') Email:
            input.form__input(type='email', id='email', name='email', placeholder='you@example.com', required)

            label(for='password') Password:
            input.form__input(type='password', id='password', name='password', placeholder='••••••••', required, minlength='8')

            button.login-btn(type='submit') Log In