extends base

block append head
  script(src='/js/search.js')
  

block content
  h2.page-title Search Page

  .search-options
    label
      input(type='radio', id='system-radio', name='search-option', value='system', checked)
      | Search by System
    label
      input(type='radio', id='class-radio', name='search-option', value='class')
      | Search by Class
    label
      input(type='radio', id='date-radio' name='search-option', value='date')
      | Search by Date

  form(id='searchForm')
    .search-input-container
      input(type='text', id='search-input', placeholder='Enter search value')
      button(type='button', id='btn-search') Search

  .pagination-section
    .pagination-controls.hidden
      button(type='button', id='btn-prev') Previous
      span.page-number(id='current-page') 1
      button(type='button', id='btn-next') Next

  .results-section
   