body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header-left button {
  background-color: #555;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.header-center {
  text-align: center;
}

.logo {
  max-width: 160px;
  max-height: 160px;
}

.header-title {
  margin: 0;
}

.header-right button {
  background-color: #555;
  color: #fff;
  padding: 8px 12px;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0;
}

/* Animation for the fade-in effect */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply the animation to buttons */
.button {
  animation: fadeIn 0.5s ease-in-out forwards; /* Change the duration and easing as needed */
}

.header-right button.signup-button {
  background-color: #145f48; /* Change the color for the "Sign Up" button */
  margin-left: 10px; /* Adjust the margin between buttons */
}

.button:hover {
  background-color: #6c7074; /* New color on hover */
}

button.signup-button:hover {
  background-color: rgb(13, 107, 49); /* New color on hover */
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left img {
  max-width: 60px; /* Adjust the width as needed */
  max-height: 60px; /* Adjust the height as needed */
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links a {
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
}

.footer-copyright {
  margin: 0;
}

/* overview page */

.page-title {
  text-align: center;
}

.country-table {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.table-container {
  text-align: center;
}

.overview-table {
  width: 100%; /* Adjust the width as needed */
  border-collapse: collapse;
}

.country-title {
  margin-top: 0;
}

.column-header,
.equipment-category,
.loss-type {
  text-align: left;
  padding: 8px;
  font-weight: bold;
}

.loss-data {
  text-align: center;
  padding: 8px;
  border-top: 1px solid #ddd;
}

.loss-type {
  background-color: #3d3f40; /* Color for the more defined column */
  color: #fff;
}

.special-column {
  background-color: #ba807a; /* Different color for the "Total" column */
}
.bold {
  font-weight: bold;
}

/* Search page */

.search-options {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.search-options label {
  cursor: pointer;
  font-size: 16px;
  padding-right: 5px;
}

.search-input-container {
  text-align: center;
  margin: 20px 0;
}

.search-input {
  width: 300px;
  padding: 8px;
}

.results-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.result-box {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 100%;
}

.result-box img {
  width: 100%;
  height: auto;
}

/* LOG IN PAGE */

.login-box {
  text-align: center;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.login-box h2.page-title {
  margin-top: 0;
}

.login-box form {
  display: flex;
  flex-direction: column;
}

.login-box label {
  margin-top: 10px;
}

.login-box input {
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.login-box button {
  background-color: #555;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid #80dd80;
}
.form__input:focus:invalid {
  border-bottom: 3px solid rgb(248, 108, 83);
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}
.login-btn:hover {
  background-color: rgb(106, 108, 106);
}

/* alert */
.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #e8ebef;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0.9rem 9rem;
}

.alert--success {
  background-color: #145f48;
}

.alert--error {
  background-color: #ba807a;
}
