html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    title= subject

    body(style="font-family: 'Lato', sans-serif; margin: 0; padding: 0;")

    style.
      body {
        font-family: 'Lato', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
      }

  body(style="font-family: 'Lato', sans-serif; margin: 0; padding: 0;")
    table.body(role="presentation", border="0", cellpadding="0", cellspacing="0", style="width: 100%; background-color: #f4f4f4;")
      tr
        td
        td.container
          .content
            table.main(role="presentation", style="width: 100%; max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1);")
              tr
                td.wrapper
                  table(role="presentation", border="0", cellpadding="0", cellspacing="0")
                    tr
                      td
                      block content

  .footer
    table(role="presentation", border="0", cellpadding="0", cellspacing="0", style="width: 100%; background-color: #333; color: #fff; padding: 10px 0;")
      tr
        td.content-block(style="text-align: center;")
          span.apple-link(style="color: #fff;") rUWDEL, London

